<?xml version="1.0" encoding="utf-8"?>
<PlmConfigurationDocument xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" schemaVersion="1.4" xmlns="http://www.phoenixcontact.com/schema/plmconfig">
  <Libraries>
    <Library name="DynamicPorts" binaryPath="$ARP_PROJECTS_DIR$/DynamicPorts/lib/libDynamicPorts.so">
      <Dependencies />
    </Library>
  </Libraries>
  <Components>
    <Component name="DynamicPortsComponent1" type="DynamicPorts.DynamicPortsComponent" library="DynamicPorts">
      <Settings path="" />
    </Component>
  </Components>
</PlmConfigurationDocument>